node_modules/
*.log
nodered-*.log
nodered-err-*.log
nodered-err.log
flows_cred.json
lib/
.node_history

# Node-RED 运行时缓存（不追踪）
.config.nodes.json
.config.nodes.json.backup
.config.runtime.json
.config.runtime.json.backup
.config.users.json
.config.users.json.backup
.flows.json.backup
.sessions.json
